[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Small piece of Code
[access "refs/*"]
	owner = group user/Dharmraj Rathod (DMRathod)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Dharmraj Rathod (DMRathod)
	label-Verified = -1..+1 group user/Dharmraj Rathod (DMRathod)
	push = group user/Dharmraj Rathod (DMRathod)
	read = group user/Dharmraj Rathod (DMRathod)
	rebase = group user/Dharmraj Rathod (DMRathod)
	removeReviewer = group user/Dharmraj Rathod (DMRathod)
	submit = group user/Dharmraj Rathod (DMRathod)
[access "refs/heads/*"]
	create = group user/Dharmraj Rathod (DMRathod)
	push = +force group user/Dharmraj Rathod (DMRathod)
	pushMerge = group user/Dharmraj Rathod (DMRathod)
	read = group user/Dharmraj Rathod (DMRathod)
[access "refs/tags/*"]
	push = group user/Dharmraj Rathod (DMRathod)
	push = +force group user/Dharmraj Rathod (DMRathod)
